// Rename this file to secrets.h and replace with your actual WiFi credentials


#ifndef SECRETS_H
#define SECRETS_H

#define SECRET_WIFI_SSID "YOUR_WIFI_SSID"
#define SECRET_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

#define SECRET_ADMIN_USERNAME "admin"
#define SECRET_ADMIN_PASSWORD "admin123"
#endif
